<!DOCTYPE html>
{% extends "layout.html" %}
{% block head_block %}
<title>HMD|Proceedings Further</title>
{% endblock %}
{% block body_block %}
{% load certificate_tags %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 py-3 mt-2">
            <h4>{% if Data_Dict.Type == 3 %} Other Proceedings {% endif %} {% if Data_Dict.Type == 2 %} Judicial/Appellate Proceedings {% endif %} {% if Data_Dict.Type == 1 %} Regular Proceedings {% endif %}</h4>
        </div>
        <div class="col-md-6 py-3 mt-2 text-right" style="padding-right:20px;">
            <a style="color: white" id="backButton" {% if Data_Dict.Type == 3%} href="{% url 'Other Proceedings Landing' %}"  {% endif %} {% if Data_Dict.Type == 2%} href="{% url 'Judicial Proceedings Landing' %}"  {% endif %} {% if Data_Dict.Type == 1%} href="{% url 'Regular Proceedings Landing' %}"  {% endif %}><button style="width: 200px;background-color:#0277bd;text-decoration:underline" class="btn btn-secondary back">Back</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <form role="form" name="frmFurAdd" action="{% url 'Further Proc Submit' %}" class="form-horizontal" method="post" enctype="multipart/form-data" >
                        <input type="hidden" id="recordId" value="{{ Data_Dict|private:'_id' }}" name="Record_Id">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-2" id="GroupName_div">
                                <label class="form-label">Group Name:</label>
                                <select disabled name="Group_Name" class="form-control" id="groupName">
                                    <option value="{{ Data_Dict.Group_name }}">{{ Data_Dict.Group_name|safe }}</option>
                                </select>
                            </div>
                            <div class="col-md-2" id="ClientCode_div">
                                <label class="form-label">Client Code:</label>
                                <select disabled name="Client_Code" class="form-control" id="clientCode">
                                    <option value="{{ Data_Dict.Client_code }}">{{ Data_Dict.Client_code|safe }}</option>
                                </select>
                            </div>
                            <div class="col-md-5" id="ClientName_div">
                                <label class="form-label">Client Name:</label>
                                <select disabled name="Client_Name" class="form-control" id="clientName">
                                    <option value="{{ Data_Dict.Name }}">{{ Data_Dict.Name|safe }}</option>
                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>AY:</label>
                                    <input required readonly style="text-transform:uppercase" type="text" name="AY" id="AY" class="form-control eventTodayDateTime" placeholder="Enter AY" value="{{ Data_Dict.AY }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Section:</label>
                                    <input required readonly type="text" name="Section" id="Section" class="form-control eventTodayDateTime" value="{{ Data_Dict.Section }}">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Description:</label>
                                    <input required readonly style="text-transform:uppercase" type="text" name="Description" id="description" class="form-control eventTodayDateTime" placeholder="Type Description" value="{{ Data_Dict.Description }}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Base Document:</label>
                                    <input required readonly style="text-transform:uppercase" type="text" name="Base_Document" id="Base_Document" class="form-control eventTodayDateTime" placeholder="Enter Name" value="{{ Data_Dict.Base_document }}">
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Base Date:</label>
                                    <input required readonly type="date" name="Base_Date" id="Base_Date" class="form-control eventTodayDateTime" value="{{ Data_Dict.Base_date }}">
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>Led By:</label>
                                    <input required style="text-transform:uppercase" type="text" name="Led_By" id="Led_By" class="form-control eventTodayDateTime" placeholder="Type Description" value="{{ Data_Dict.Led_by }}" {% if Data_Dict.Led_by != ""%} readonly {% endif %}>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3  ">
                                <div class="form-group">
                                    <label>Case Reference No:</label>
                                    <input style="text-transform:uppercase" type="text" name="Case_Reference_no" id="Case_Reference_no" class="form-control eventTodayDateTime" value="{{ Data_Dict.Case_reference_no }}" readonly>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Forum/Bench:</label>
                                    <input style="text-transform:uppercase" type="text" name="Forum_Bench" id="Forum_Bench" class="form-control eventTodayDateTime" value="{{ Data_Dict.Forum_bench }}" readonly>
                                </div>
                            </div>
                            {% if Data_Dict.Status != 'Completed'%}
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label style="color:white;">Remarks</label>
                                    <input type="hidden" value=1 name="Type">
                                    <button class="btn btn-primary" style="width:200px;" onclick="return confirmSubmit()" name="save_button_1" id="save_button_1" value="">&nbsp;Save Details </button>&nbsp;
                                </div>
                            </div>
                            <div class="col-md-1" style=" padding-left: 80px;">
                                <div class="form-group">
                                    <label style="color:white;">Remarks</label>
                                    <input class="btn btn-secondary" style=" width: 200px;"  type="button" name="reset_button_1" id="reset_button_1" value="Edit Details">&nbsp;&nbsp;
                                </div>
                            </div>
                            {% endif %}
                            <input type="hidden" id="savedetails" value="0" name="savedetails">
                        </div>
                    </form>

                    <script>
                        function confirmSubmit()
                            {
                            var agree=confirm("Are you sure you wish to continue?");
                            if (agree){
                                return true ;
                                document.getElementById('savedetails').value = 0;
                            }
                            else{
                                  document.getElementById('savedetails').value =1;
                            }

                            }
                    </script>

                    <h4>List Of Events</h4>
                    <br>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Date:</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Actual Date:</label>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label>Type:</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Particulars:</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Next Date:</label>
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label>Handled By:</label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Remarks</label>
                            </div>
                        </div>
                    </div>
                    {% if Data_Dict.Event == 1%}
                    {% for each_event in Event_list %}
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <input readonly type="date" class="form-control eventTodayDateTime" value="{{ each_event.Event_date }}">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input readonly type="date" class="form-control eventTodayDateTime" value="{{ each_event.Event_actual_date }}">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <input readonly type="text" class="form-control" value="{{ each_event.Event_type }}">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input readonly type="text" class="form-control" value="{{ each_event.Event_particulars }}">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input readonly type="date" class="form-control eventMaxTodayDateTime" value="{{ each_event.Event_next_date }}">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <input readonly type="text" class="form-control" value="{{ each_event.Event_handled_by }}">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input readonly type="text" class="form-control" value="{{ each_event.Event_remarks }}">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <span id="contact_span"  {% if Data_Dict.Event == 1%} style="display:none;" {% endif %}>
                        <form role="form" name="frmFurAdd" action="{% url 'Further Proc Event Submit' %}" class="form-horizontal" method="post" enctype="multipart/form-data">
                            <input type="hidden" value="{{ Data_Dict|private:'_id' }}" name="Record_Id">
                            {% csrf_token %}
                            <div id="event_div" class="row contacts">
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input required style="text-transform:uppercase" type="date" name="Event_Date" id="Event_Date" class="form-control eventTodayDateTime" placeholder="Enter Name" value="{{ Data_Dict.Event_date }}">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input required style="text-transform:uppercase" type="date" name="Event_Actual_Date" id="Event_Actual_Date" class="form-control eventTodayDateTime" placeholder="Enter Actual Date" value="{{ Data_Dict.Actual_date }}">
                                    </div>
                                </div>
                                <div class="form-group col-md-1">
                                    <select name="Event_type" id="Event_type" class="form-control custom-select mr-sm-2" data-live-search="true" required>
                                        <option value="">Select</option>
                                        <option value="Notice">Notice</option>
                                        <option value="Submission">Submission</option>
                                        <option value="Adjournment">Adjournment</option>
                                        <option value="SCN">SCN</option>
                                        <option value="Others">Others</option>
                                    </select>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group ">
                                      <input required style="text-transform:uppercase" type="text" name="Event_Particulars" id="Event_Particulars" class="form-control eventTodayDateTime" placeholder="" value="{{ Data_Dict.Event_particulars }}">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input style="text-transform:uppercase" type="date" name="Event_Next_date" id="Event_Next_date" class="form-control eventMaxTodayDateTime" placeholder="Enter Actual Date" value="{{ Data_Dict.Actual_date }}">
                                    </div>
                                </div>
                                <div class="col-md-1">
                                    <div class="form-group">

                                      <input required style="text-transform:uppercase" type="text" name="Event_Handled_By" id="Event_Handled_By" class="form-control" placeholder="" value="{{ Data_Dict.Handled_by }}">
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                      <input required style="text-transform:uppercase" type="text" name="Event_Remarks" id="Event_Remarks" class="form-control" placeholder="" value="{{ Data_Dict.Event_remarks }}" >
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-1">
                                    <button type="submit" {% if Data_Dict.Status == 'Completed'%} style="display:none;" {% endif %} class="btn btn-success" >Submit</button>&nbsp;&nbsp;
                                </div>
                            </div>
                        </form>
                    </span>
                    {% if Data_Dict.Event == 1%}
                    <div class="row" id="contacts" style="padding-top:30px;">
                        <div class="form-group col-md-3">
                            {% if Data_Dict.Status != 'Completed'%}
                                <button id="add_contact" class="btn btn-success">Add</button>
                                <button id="remove_contact" class="btn btn-danger" style="display:none;">Remove</button>
                            {% endif %}
                        </div>
                    </div>
                    {% endif %}
                    <br>
                    {% if Data_Dict.Event == 1 %}
                        {% if Data_Dict.Status != 'Completed' %}
                            <button type="button" id="Elevate_Yes" class="btn btn-primary">Close Proceedings</button>
                            <br><br>
                        {% endif %}
                    {% endif %}
                    <h4  id="closure_title" {% if Data_Dict.Status != 'Completed' %} style="display : none;" {% endif %}>Closure Details</h4>
                    <br>
                    <form role="form" name="frmFurAdd" action="{% url 'Further Proc Submit' %}" class="form-horizontal" method="post" enctype="multipart/form-data">
                        <input type="hidden" value="{{ Data_Dict|private:'_id' }}" name="Record_Id">
                        {% csrf_token %}
                        <div class="row" id="closure_details" {% if Data_Dict.Status != 'Completed' %} style="display : none;" {% endif %}>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Date:</label>
                                    <input required type="date" name="Closure_Date" id="Closure_Date" class="form-control eventTodayDateTime" {% if Data_Dict.Status == 'Completed' %} value="{{Data_Dict.Closure_date}}" {% endif %}>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Actual Date:</label>
                                    <input required type="date" name="Actual_Closure_Date" id="Actual_Closure_Date" class="form-control eventTodayDateTime" {% if Data_Dict.Status == 'Completed' %} value="{{Data_Dict.Actual_closure_date}}" {% endif %}>
                                </div>
                            </div>
                            {% if Data_Dict.Status != 'Completed' %}
                            <div class="form-group col-md-1">
                                <label>Type:</label>
                                <select name="Closure_Type" id="Closure_Type" class="form-control custom-select mr-sm-2" data-live-search="true" required>
                                    <option value="">Select</option>
                                    <option value="Order">Order</option>
                                    <option value="Dropped letter">Dropped letter</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                            {% endif %}
                            {% if Data_Dict.Status == 'Completed' %}
                            <div class="col-md-1">
                                <label class="form-label">Type:</label>
                                <select disabled name="Closure_Type" class="form-control">
                                    <option value="{{ Data_Dict.Closure_type }}">{{ Data_Dict.Closure_type|safe }}</option>
                                </select>
                            </div>
                            {% endif %}
                            <div class="col-md-3">
                                <div class="form-group ">
                                    <label>Particulars:</label>
                                    <input required style="text-transform:uppercase" type="text" name="Closure_Particulars" id="Closure_Particulars" class="form-control eventTodayDateTime" placeholder="" {% if Data_Dict.Status == 'Completed' %} value="{{ Data_Dict.Closure_particulars }}" {% endif %}>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group ">
                                    <label>Handled By:</label>
                                    <input required style="text-transform:uppercase" type="text" name="Closure_Handled_By" id="Closure_Handled_By" class="form-control eventTodayDateTime" placeholder="" {% if Data_Dict.Status == 'Completed' %} value="{{ Data_Dict.Closure_handled_by }}" {% endif %}>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group ">
                                    <label>Remarks</label>
                                    <input required style="text-transform:uppercase" type="text" name="Closure_Remarks" id="Closure_Remarks" class="form-control eventTodayDateTime" placeholder="" {% if Data_Dict.Status == 'Completed' %} value="{{ Data_Dict.Closure_remarks }}" {% endif %}>
                                </div>
                            </div>
                            {% if Data_Dict.Status != 'Completed' %}
                                 <div class="col-md-2">
                                    <div class="form-group ">
                                        <label>Choose File To Upload:</label>
                                      <input type="file"  class="form-control" name="myfile">
                                      </div>
                                </div>
                            {% endif %}
                            {% if Data_Dict.Status == 'Completed' %}
                                 <div class="col-md-2">
                                    <div class="form-group ">
                                        <label>File Uploaded</label>
                                        <input required style="text-transform:uppercase" type="text" class="form-control eventTodayDateTime" placeholder="" {% if Data_Dict.Status == 'Completed' %} value="{{ Data_Dict.File_name }}" {% endif %}>
                                    </div>
                                 </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <input type="hidden" value=2 name="Type">
                                {% if Data_Dict.Status != 'Completed'%}
                                <button type="button"  id="submitDiv1" style="display:none;" class="btn btn-success" data-toggle="modal" data-target="#createFolder" data-whatever="@mdo">Submit</button>
                                {% endif %}
                                {% if Data_Dict.Status == 'Completed'%}
                                <button type="submit" id="submitDiv2" style="display:show;" class="btn btn-success" >Submit</button>&nbsp;&nbsp;
                                {% endif %}
                            </div>
                        </div>
                        <div class="modal fade" id="createFolder" tabindex="-1" role="dialog" aria-labelledby="createFolderTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <label class="col-form-label">Do You really want to Elevate the Matter?</label>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <input type="submit" name="close_proceedings" value="Yes" class="btn btn-success" >&nbsp;&nbsp;
                                                <input type="submit" name="close_proceedings" value="No" class="btn btn-secondary" >
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    {% if Data_Dict.Status != 'Completed' %}
                    <div class="row">
                    </div>
                    </div>
                    {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready( function () {

    $('#save_button_1').on('click', function() {
        $("#Case_Reference_no").prop('readonly', true);
        $("#Forum_Bench").prop('readonly', true);
        $("#Led_By").prop('readonly', true);
    });

    $('#Elevate_Yes').on('click', function() {
        $("#closure_title").show();
        $("#closure_details").show();
        $("#submitDiv1").show();
        $("#contacts").hide();
        $("#contact_span").hide();

    });

    $('#reset_button_1').on('click', function() {
        $("#Case_Reference_no").prop('readonly', false);
        $("#Forum_Bench").prop('readonly', false);
        $("#Led_By").prop('readonly', false);
    });
        var counter = 1;
        $('#add_contact').on('click', function(e) {
            if(counter == 1){
                $("#contact_span").show();
                 counter += 1;
               $("#add_contact").hide();
               $("#remove_contact").show();
            }
        });

        $('#remove_contact').on('click', function(e) {
            e.preventDefault();
            if(counter > 2) {
                $('.row.contacts').last().remove();
                counter -= 1;
            }
            else{
                counter = 1;
                 $("#contact_span").hide();
                 $("#add_contact").show();
                $("#remove_contact").hide();
            }
        });


        {% if Data_Dict.Status == 'Completed' %}
            $('select').attr('disabled', true);
            $('input').attr('readonly', true);
             $("#Closure_Remarks").attr('readonly', false);
        {% endif %}
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getCookie('csrftoken');

        $("#save_button").click(function(e){
            e.preventDefault();
            record_id = $('#recordId').val();
            accepted_by = $("#acceptedBy").val();
            accepted_date = $("#acceptanceDate").val();
            description = $("#description").val();
            handled_by = $("#handledBy").val();
            checked_by = $("#checkedBy").val();
            signed_by = $("#signedBy").val();
            date_of_cert = $("#dateOfCertificate").val();
            udin = $("#udin").val();
            remarks = $("#remarks").val();
            $.ajax({
                type: "POST",
                url: "{% url 'Further Cert Submit' %}",
                beforeSend: function(xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                },
                data: {
                    Record_Id: record_id,
                    acceptedBy: accepted_by,
                    acceptanceDate: accepted_date,
                    Remarks: remarks,
                    Handled_By: handled_by,
                    Checked_By: checked_by,
                    Signed_By: signed_by,
                    description: description,
                    Date_of_Certificate: date_of_cert,
                    Udin: udin,
                    save_fur: false
                },
                success: function(result){
                    alert("Details Saved");
                    document.getElementById('backButton').click();
                }
            });
        });
    });

</script>

{% endblock %}