{% extends "landing.html" %}
{% block head_block %}
    {% load static %}
    <title>HMD|Return List</title>
{% endblock %}

{% block body_block %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 py-3 mt-2">
            <h4>Existing Return</h4>
        </div>
        <div class="col-md-6 py-3 mt-2 text-right" style="padding-right:20px;">
            <a style="color:white;" id="backButton" href="{% url 'Landing' %}"><button style="width: 200px;background-color:#0277bd;text-decoration:underline" class="btn btn-secondary back">Back</button></a>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-3" id="group_filter">
                        <label for="groupSelect">Filter by Group Name:</label>
                        <select id="groupSelect" multiple class="form-control dropdown" data-live-search="true"  data-dropup-auto="false" data-actions-box="true">
                        </select>
                    </div><br>
                    <div class="table-responsive">
                        <table cellpadding="1" cellspacing="2" border="0" class="table table-striped table-bordered dataTable" id="existing-returnList" width="100%">
                            <thead>
                            <tr>
                                <th align="left">Group Name</th>
                                <th align="left">IT Code</th>
                                <th align="left">Client Name</th>
                                <th align="left">A.Y.</th>
                                <th align="left">Type</th>
                                <th align="left">Acceptance Date</th>
                                <th align="left">Filing Date</th>
                                <th align="left">Verification</th>
                                <th align="left">Filed By</th>
                                <th align="left">Status</th>
                                <th align="left">Remarks</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for each_return in Return_List %}
                                <tr>
                                    <td align="left">{{ each_return.Group_name }}</td>
                                    <td align="left">{{ each_return.It_no }}</td>
                                    <td align="left">{{ each_return.Name }}</td>
                                    <td align="left">{{ each_return.AY }}</td>
                                    <td align="left">{{ each_return.Type }}</td>
                                    <td align="left">{{ each_return.Acceptance_date }}</td>
                                    <td align="left">{{ each_return.Filing_date }}</td>
                                    <td align="left">{{ each_return.Verification }}</td>
                                    <td align="left">{{ each_return.Filed_by }}</td>
                                    <td align="left">{{ each_return.Status }}</td>
                                    <td align="left">{{ each_return.Remarks }}</td>
                                    <td>
                                        {% if each_return.Status == 'Initiated' %}
                                            <a href="{% url 'Create New Return' it_no=each_return.It_no ay=each_return.AY r_type=each_return.Type_id %}" title="Edit" ><i class="fe-edit text-info"></i></a>&nbsp;&nbsp;
                                            <a href="{% url 'Further Return Info' it_no=each_return.It_no ay=each_return.AY r_type=each_return.Type_id %}" title="further info"><i class="fas fa-clipboard text-info"></i></a>&nbsp;&nbsp;
                                            <a onclick="showPasswordPrompt('{{ each_return.It_no }}', '{{ each_return.AY }}', '{{ each_return.Type_id }}')" title="Delete" ><i class="fas fa-trash text-danger" style="cursor: pointer"></i></a>&nbsp;&nbsp;
                                        {% endif %}
                                        {% if each_return.Status == 'Not initiated' %}
                                            <a href="{% url 'Create New Return' it_no=each_return.It_no ay=each_return.AY r_type=each_return.Type_id %}" title="Edit" ><i class="fe-edit text-info"></i></a>&nbsp;&nbsp;
                                        {% endif %}
                                        {% if each_return.Status == 'Completed' %}
                                            <a href="{% url 'Further Return Info' it_no=each_return.It_no ay=each_return.AY r_type=each_return.Type_id %}" title="View"><i class="fas fa-eye text-success"></i></a>&nbsp;&nbsp;
                                            <a onclick="showPasswordPrompt('{{ each_return.It_no }}', '{{ each_return.AY }}', '{{ each_return.Type_id }}')" title="Delete" ><i class="fas fa-trash text-danger" style="cursor: pointer"></i></a>&nbsp;&nbsp;
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th align="left">Group Name</th>
                                    <th align="left">IT Code</th>
                                    <th align="left">Client Name</th>
                                    <th align="left">A.Y.</th>
                                    <th align="left">Type</th>
                                    <th align="left">Acceptance Date</th>
                                    <th align="left">Filing Date</th>
                                    <th align="left">Verification</th>
                                    <th align="left">Filed By</th>
                                    <th align="left">Status</th>
                                    <th align="left">Remarks</th>
                                    <th>Action</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Password Prompt Modal -->
<div class="modal fade" id="passwordModal" tabindex="-1" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordModalLabel">Enter Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input type="password" id="passwordInput" class="form-control" placeholder="Password">
                <input type="hidden" id="returnITCode">
                <input type="hidden" id="returnAY">
                <input type="hidden" id="returnType">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" onclick="deleteRecord()">Delete</button>
            </div>
        </div>
    </div>
</div>

<script>
    function showPasswordPrompt(ITCode, AY, Type) {
        $('#returnITCode').val(ITCode);
        $('#returnAY').val(AY);
        $('#returnType').val(Type);
        $('#passwordModal').modal('show');
    }
    $('#passwordModal').on('hidden.bs.modal', function () {
        $('#passwordInput').val('');
    });
    function deleteRecord() {
        const returnITCode = $('#returnITCode').val();
        const returnAY = $('#returnAY').val();
        const returnType = $('#returnType').val();
        const password = $('#passwordInput').val();

        $.ajax({
            url: "{% url 'Delete Return' %}",
            method: 'POST',
            data: {
                'returnITCode': returnITCode,
                'returnAY': returnAY,
                'returnType': returnType,
                'password': password
            },
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            },
            success: function(response) {
                alert(response.message);
                if (response.status === 'success') {
                    location.reload();
                }
            },
            error: function(response) {
                alert(response.responseJSON.message);
            }
        });

        $('#passwordModal').modal('hide');
    }

    $(document).ready( function () {
        $('select').selectpicker();

        var table = $('#existing-returnList').DataTable({
            dom: 'Bfrtip',
            lengthMenu: [[10,25,50,100,-1],[10,25,50,100,"All"]],
            scrollX:        true,
			buttons: [{
                extend: 'excel',
                title: 'IT_Return'
            },
            {
                extend: 'pageLength',
            }]
		});

        // Filter the DataTable based on the selected group name
        $('#groupSelect').on('changed.bs.select', function (e) {
            var selectedGroups = $(this).val();
            if (selectedGroups && selectedGroups.length > 0) {
                var searchRegex = '^(' + selectedGroups.join('|') + ')$';
                table.column(0).search(searchRegex, true, false).draw();
            } else {
                table.column(0).search('').draw();
            }
        });

    });

</script>

{% endblock %}