<!DOCTYPE html>
{% extends "layout.html" %}
{% block head_block %}
    <title>HMD|Verify Later Info</title>
{% endblock %}
{% block body_block %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 py-3 mt-2">
            <h4>Verify Later</h4>
        </div>
        <div class="col-md-6 py-3 mt-2 text-right" style="padding-right:20px;">
            <a style="color: white" id="backButton" href="{% url 'CPC List' %}"><button style="width: 200px;background-color:#0277bd;text-decoration:underline" class="btn btn-secondary back">Back</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    {% if not Data_Dict.Submitted_cpc %}
                        <form role="form" name="frmCPCAdd" class="form-horizontal" action="{% url 'Further CPC Submit' %}" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                    {% endif %}
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Client Code:</label>
                                    <input required type="text" value="{{ Data_Dict.Client_code|safe }}" class="form-control" name="clientCode" readonly>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Client Name:</label>
                                    <input required style="text-transform:uppercase" type="text" placeholder="Name" class="form-control" name="clientName" value="{{ Data_Dict.Name|safe }}"  readonly>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>A.Y.:</label>
                                    <select required name="AY" class="form-control" readonly>
                                        {% for ay in AY_list %}
                                            {% if ay == AY_Selected %}
                                                <option value="{{ ay|safe }}" selected> {{ay|title}} </option>
                                            {% else %}
                                                <option value="{{ ay|safe }}"> {{ay|title}} </option>
                                            {% endif %}
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Verification:</label>
                                    <select required name="verification" class="form-control" id="verification">
                                        <option value="2" {% if Data_Dict.Verification == "Aadhar" %} selected {% endif %}> Aadhar </option>
                                        <option value="3" {% if Data_Dict.Verification == "CPC" %} selected {% endif %}> CPC </option>
                                        <option value="5" {% if Data_Dict.Verification == "EVC" %} selected {% endif %}> EVC </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Select Type:</label>
                                    <select required name="type" class="form-control" readonly>
                                        <option value="1" {% if Type == '1' %} selected {% endif %}>Original</option>
                                        <option value="2" {% if Type == '2' %} selected {% endif %}>Revised</option>
                                        <option value="3" {% if Type == '3' %} selected {% endif %}>142(1)</option>
                                        <option value="4" {% if Type == '4' %} selected {% endif %}>148</option>
                                        <option value="5" {% if Type == '5' %} selected {% endif %}>139(9)</option>
                                        <option value="6" {% if Type == '6' %} selected {% endif %}>153A</option>
                                        <option value="7" {% if Type == '7' %} selected {% endif %}>153C r.w 153A</option>
                                        <option value="8" {% if Type == '8' %} selected {% endif %}>92CD</option>
                                        <option value="9" {% if Type == '9' %} selected {% endif %}>119(2)(b)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Filed By:</label>
                                    <input required style="text-transform:uppercase" type="text" name="filedBy" class="form-control" value="{{ Data_Dict.Filed_by}}" readonly>
                                </div>
                              </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Filing Date:</label>
                                    <input required type="date" name="filingDate" class="form-control eventTodayDateTime" placeholder="Select Date" value="{{ Data_Dict.Filing_date}}" readonly>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Acknowledgment No:</label>
                                    <input required type="text" maxlength="15" minlength="15" name="acknowledgmentNo" pattern="[0-9]{15}" id="ack_no" class="form-control" placeholder="Ack.No" value="{{ Data_Dict.Ack_no}}" readonly>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Completed By:</label>
                                    <input required style="text-transform:uppercase" type="text" name="completedBy" class="form-control" placeholder="Write Name" value="{{ Data_Dict.Completed_by|safe }}" {% if Data_Dict.Submitted_cpc %} readonly {% endif %}>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Completed On:</label>
                                    <input required type="date" name="completedOn" class="form-control" placeholder="Select Date" value="{{ Data_Dict.Completed_on}}" {% if Data_Dict.Submitted_cpc %} readonly {% endif %}>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Remarks:</label>
                                    <input required style="text-transform:uppercase" type="text" name="remarksCPC" class="form-control" placeholder="Write Remarks" value="{{ Data_Dict.Remarks_cpc|safe }}" {% if Data_Dict.Submitted_cpc %} readonly {% endif %}>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Due Date:</label>
                                    <input required type="date" name="dueDate_CPC" class="form-control" placeholder="Select Date" value="{{ Data_Dict.Due_date}}" readonly>
                                </div>
                            </div>
                        </div>
                        {% if not Data_Dict.Submitted_cpc %}
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <button type="submit" class="btn btn-success" >Submit</button>&nbsp;&nbsp;
                                    <button type="reset" class="btn btn-secondary back" name="Reset">Reset</button>
                                </div>
                            </div>
                            </form>
                        {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}