{% extends "layout.html" %}
{% block body_block %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-12">
                        <h4 class="header-title mb-3">Menu</h4>
                    </div>
                    <div class="row">
                        <div class="col-4" id="main-menu">
                            <div class="card widget-box-three">
                                <div class="card-body">
                                    <button type="button" class="btn btn-link" id="it-return">IT Return</button>
                                </div>
                            </div><br>
                            <div class="card widget-box-three">
                                <div class="card-body">
                                    <button type="button" class="btn btn-link" id="audit">Audit</button>
                                </div>
                            </div><br>
                            <div class="card widget-box-three">
                                <div class="card-body">
                                    <a role="button" href="{% url 'Certificates Landing' %}" class="btn btn-link" id="certificates">Certificates</a>
                                </div>
                            </div><br>
                            <div class="card widget-box-three">
                                <div class="card-body">
                                    <button type="button" class="btn btn-link" id="reports">Reports</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 m-4" id="sub-menu" style="display: none;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var modal_toggle = false;
	$('#it-return').on('click', function(event) {
  		event.preventDefault(); // To prevent following the link (optional)
  		if (!modal_toggle) {
            var div = '<div class="card widget-box-three"><div class="card-body"><a role="button" href="{% url 'New IT Return' %}" class="btn btn-link" id="return-new">New</a></div></div><br><div class="card widget-box-three"><div class="card-body"><a href="{% url 'Existing Return List' %}" role="button" class="btn btn-link" id="return-existing">Existing</a></div></div><br><div class="card widget-box-three"><div class="card-body"><a role="button" href="{% url 'CPC List' %}" class="btn btn-link" id="return-cpc">CPC</a></div></div><br>'
            $('#sub-menu').append(div);
            $('#sub-menu').css('display', 'block');
            modal_toggle = true;
        }
        else {
            document.getElementById('sub-menu').innerHTML = "";
            $('#sub-menu').css('display', 'none');
            modal_toggle = false;
        }
	});

</script>
{% endblock %}