<!DOCTYPE html>
{% extends "layout.html" %}
{% block head_block %}
    <title>HMD|Further TDS Info</title>
{% endblock %}
{% block body_block %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 py-3 mt-2">
            <h4>TDS/TCS</h4>
        </div>
        <div class="col-md-6 py-3 mt-2 text-right" style="padding-right:20px;">
            <a style="color: white" id="backButton" href="{% url 'Existing TDS List' %}"><button style="width: 200px;background-color:#0277bd;text-decoration:underline" class="btn btn-secondary back">Back</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                {% if Data_Dict.Status != "Completed" %}
                    <form role="form" name="frmFurAdd" class="form-horizontal" action="{% url 'Further TDS Submit' %}" method="post" enctype="multipart/form-data">
                        <input type="hidden" name="clientCode" id="client_no" value="{{ Data_Dict.Client_code }}">
                {% endif %}
                {% csrf_token %}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Client Name:</label>
                                <input required style="text-transform:uppercase" type="text" value="{{ Data_Dict.Name|safe }}" id="c_name" class="form-control" name="name" {% if Data_Dict.Submitted_ini %} readonly {% endif %}>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Accepted By:</label>
                                <input required style="text-transform:uppercase" type="text" placeholder="Name" id="accepted_by" class="form-control" name="acceptedBy" value="{{ Data_Dict.Accepted_by|safe }}" {% if Data_Dict.Submitted_ini %} readonly {% endif %}>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Acceptance Date:</label>
                                <input required type="date" name="acceptedDate" id="accepted_date" class="form-control eventTodayDateTime" placeholder="Select Date" value="{{ Data_Dict.Acceptance_date|safe }}" {% if Data_Dict.Submitted_ini %} readonly {% endif %}>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>A.Y.:</label>
                                <input required style="text-transform:uppercase" type="text" value="{{ Data_Dict.AY|safe }}" id="tds_ay" class="form-control" name="tdsAY" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Quarter:</label>
                                <input required style="text-transform:uppercase" type="text" value="{{ Data_Dict.Quarter|safe }}" id="tds_quarter" class="form-control" name="tdsQuarter" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Form:</label>
                                <input required style="text-transform:uppercase" type="text" value="{{ Data_Dict.Form|safe }}" id="tds_form" class="form-control" name="tdsForm" readonly>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Type:</label>
                                <input required style="text-transform:uppercase" type="text" value="{{ Data_Dict.Type|safe }}" id="tds_type" class="form-control" name="tdsType" readonly>
                            </div>
                        </div>
                    </div>

                    {% if Allow_Further %}
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Handled By:</label>
                                <input required style="text-transform:uppercase" type="text" name="handledBy" id="handled_by" class="form-control" value="{{ Data_Dict.Handled_by}}" {% if Data_Dict.Submitted_fur %} readonly {% endif %}>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Checked By:</label>
                                <input required style="text-transform:uppercase" type="text" name="checkedBy" id="checked_by" class="form-control" value="{{ Data_Dict.Checked_by}}" {% if Data_Dict.Submitted_fur %} readonly {% endif %}>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Filing date:</label>
                                <input required type="date" name="filingDate" id="filing_date" class="form-control eventTodayDateTime" placeholder="Select Date" value="{{ Data_Dict.Filing_date}}" {% if Data_Dict.Submitted_fur %} readonly {% endif %}>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Token No:</label>
                                <input required type="text"  name="tokenNo" id="token_no" class="form-control" placeholder="Ack.No" value="{{ Data_Dict.Token_no}}" {% if Data_Dict.Submitted_fur %} readonly {% endif %}>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Filed By:</label>
                                <input required style="text-transform:uppercase" type="text" name="filedBy" id="filed_by" class="form-control" value="{{ Data_Dict.Filed_by}}" {% if Data_Dict.Submitted_fur %} readonly {% endif %}>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Filing Mode:</label>
                                <select required name="filingMode" class="form-control selectpicker" id="filing_mode" {% if Data_Dict.Submitted_fur %} disabled {% endif %}>
                                    <option value="1" {% if Data_Dict.Filing_mode == "SELF" %} selected {% endif %}> SELF </option>
                                    <option value="2" {% if Data_Dict.Filing_mode == "EXTERNAL AGENT" %} selected {% endif %}> EXTERNAL AGENT </option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label>Remarks:</label>
                                <input required style="text-transform:uppercase" type="text" name="remarks" id="remarks" class="form-control eventTodayDateTime" placeholder="Write Remarks" value="{{ Data_Dict.Remarks|safe }}" {% if Data_Dict.Submitted_fur %} readonly {% endif %}>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if not Data_Dict.Submitted_fur %}
                    <div class="row">
                        <div class="form-group col-md-3">
                            <button type="button" id="save_button" class="btn btn-primary">Save</button>&nbsp;&nbsp;
                            <button type="submit" id="submit-button" class="btn btn-success" >Submit</button>&nbsp;&nbsp;
                            <button type="reset" class="btn btn-secondary back" name="Reset">Reset</button>
                        </div>
                    </div>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready( function () {
        $('.selectpicker').selectpicker();
        {% if Data_Dict.Filing_mode == 'SELF' or  Data_Dict.Filing_mode == 'EXTERNAL AGENT'%}
            $('.selectpicker').prepend('<option value="-1" disabled>--Select--</option>');
        {% else %}
            $('.selectpicker').prepend('<option value="-1" selected disabled>--Select--</option>');
        {% endif %}
        $('.selectpicker').selectpicker('refresh');

        $("#save_button").click(function(e){
            e.preventDefault();
            client_no = $("#client_no").val();
            c_name = $("#c_name").val();
            accepted_by = $("#accepted_by").val();
            accepted_date = $("#accepted_date").val();
            tds_ay = $("#tds_ay").val();
            tds_quarter = $("#tds_quarter").val();
            tds_form = $("#tds_form").val();
            tds_type = $("#tds_type").val();
            remarks = $("#remarks").val();
            handled_by = $("#handled_by").val();
            checked_by = $("#checked_by").val();
            filing_date = $("#filing_date").val();
            token_no = $("#token_no").val();
            filing_mode = $("#filing_mode").val();
            filed_by = $("#filed_by").val();
            $.ajax({
                type: "POST",
                url: "{% url 'Further TDS Submit' %}",
                headers: {
                'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                },
                data: {
                    name: c_name,
                    clientCode: client_no,
                    acceptedBy: accepted_by,
                    acceptedDate: accepted_date,
                    tdsAY: tds_ay,
                    tdsQuarter: tds_quarter,
                    tdsForm: tds_form,
                    tdsType: tds_type,
                    remarks: remarks,
                    handledBy: handled_by,
                    checkedBy: checked_by,
                    filingDate: filing_date,
                    tokenNo: token_no,
                    filingMode: filing_mode,
                    filedBy: filed_by,
                    save_fur: false
                },
                success: function(result){
                    alert("Details Saved");
                    document.getElementById('backButton').click();
                }
            });
        });
    });

</script>
{% endblock %}