{% extends "layout.html" %}
{% block head_block %}
    <title>HMD|Clients</title>
{% endblock %}
{% block body_block %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-12">
                        <h4 class="header-title mb-3">Clients</h4>
                    </div>
                    <div class="row">
                        <div class="col-4" id="main-menu">
                            <div class="card widget-box-three">
                                <div class="card-body">
                                    <button type="button" class="btn btn-link" id="it-return">
                                        <a href="{% url 'Create New Client' %}">New</a>
                                    </button>
                                </div>
                            </div><br>
                            <div class="card widget-box-three">
                                <div class="card-body">
                                    <button type="button" class="btn btn-link" id="audit">
                                        <a href="{% url 'Client Master List' %}">Existing</a>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}