{% extends "landing.html" %}
{% block head_block %}
    {% load static %}
    <title>HMD|Client List</title>
{% endblock %}

{% block body_block %}

{% load client_tags %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 py-3 mt-2">
            <h4>Client List</h4>
        </div>
        <div class="col-md-6 py-3 mt-2 text-right" style="padding-right:20px;">
            <a style="color:white" id="backButton" href="{% url 'Client Landing' %}"><button style="width: 200px;background-color:#0277bd" class="btn btn-secondary back">Back</button></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-3" id="group_filter">
                        <label for="groupSelect">Filter by Group Name:</label>
                        <select id="groupSelect" multiple class="form-control dropdown" data-live-search="true"  data-dropup-auto="false" data-actions-box="true">
                        </select>
                    </div><br>
                    <div class="table-responsive">
                        <table cellpadding="1" cellspacing="2" border="0" class="table table-striped table-bordered dataTable" id="client_info" width="100%">
                            <thead>
                            <tr>
                                <th align="left">Group Name</th>
                                <th align="left">IT Code</th>
                                <th align="left">IT Size</th>
                                <th align="left">Audit Code</th>
                                <th align="left">Audit Size</th>
                                <th align="left">Client Name</th>
                                <th align="left">Party Name</th>
                                <th align="left">Client Type</th>
                                <th align="left">TDS/TCS</th>
                                <th align="left">IT Note</th>
                                <th align="left">Audit Note</th>
                                <th width="10px" align="left">Contact Details</th>
                                {% if can_edit %}
                                    <th align="left">Action</th>
                                {% endif %}
                            </tr>
                            </thead>
                            <tbody>
                            {% for each_return in client_List %}
                                <tr>
                                    <td align="left">{{ each_return.Group_name }}</td>
                                    <td align="left">{{ each_return.It_no }}</td>
                                    <td align="left">{{ each_return.It_size }}</td>
                                    <td align="left">{{ each_return.Audit_no }}</td>
                                    <td align="left">{{ each_return.Audit_size }}</td>
                                    <td align="left">{{ each_return.Name }}</td>
                                    <td align="left">{{ each_return.Party_name }}</td>
                                    <td align="left">{{ each_return.Client_type }}</td>
                                    <th align="left">
                                        {% if each_return.TDS == 'False' %}
                                        No
                                        {% else %}
                                        Yes
                                        {% endif %}
                                    </th>
                                    <td align="left">{{ each_return.It_note }}</td>
                                    <td align="left">{{ each_return.Audit_note }}</td>
                                    <td align="center"><a><i style="color:#007bff;cursor:pointer" class="bi bi-person-plus-fill fa-lg"></i></a></td>
                                    {% if can_edit %}
                                      <td><a href="{% url 'Edit One Client' id=each_return|private:'_id' %}" title="Edit" ><i class="fe-edit text-info"></i></a></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            </tbody>
                                <tfoot>
                                <tr>
                                    <th align="left">Group Name</th>
                                    <th align="left">IT Code</th>
                                    <th align="left">IT Size</th>
                                    <th align="left">Audit Code</th>
                                    <th align="left">Audit Size</th>
                                    <th align="left">Client Name</th>
                                    <th align="left">Party Name</th>
                                    <th align="left">Client Type</th>
                                    <th align="left">TDS/TCS</th>
                                    <th align="left">IT Note</th>
                                    <th align="left">Audit Note</th>
                                    <th align="left">Contact Details</th>
                                    {% if can_edit %}
                                        <th align="left">Action</th>
                                    {% endif %}
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready( function () {
        var client_table = $('#client_info').DataTable({
            dom: 'Bfrtip',
            lengthMenu: [[10,25,50,100,-1],[10,25,50,100,"All"]],
             columnDefs: [
                { "width": "15%", "targets": -2 }
            ],
			buttons: [{
                extend: 'excel',
                title: 'Client_Master'
            },
            {
                extend: 'pageLength'
            }]
		});
        // Filter the DataTable based on the selected group name
        $('#groupSelect').on('changed.bs.select', function (e) {
            var selectedGroups = $(this).val();
            if (selectedGroups && selectedGroups.length > 0) {
                var searchRegex = '^(' + selectedGroups.join('|') + ')$';
                client_table.column(0).search(searchRegex, true, false).draw();
            } else {
                client_table.column(0).search('').draw();
            }
        });
		function format ( d ) {
            // `d` is the original data object for the row
            var html_content = '';
            for(i=0;i<d.length;i++) {
                html_content = html_content + '<table cellpadding="1" cellspacing="2" border="0" class="table table-striped table-bordered dataTable" width="100%"><tr style="background-color:#98cc65">'+ '<td width="30%">' + d[i].Name + '</td><td  width="20%">' + d[i].Designation + '</td><td  width="15%">' + d[i].Contact_no + '</td><td width="25%">' + d[i].Email + '</td><td width="10%">' + d[i].Remarks + '</td></tr></table>';
            }
            return html_content;
        }

		$('#client_info tbody').on( 'click', 'i', function () {
            var data = client_table.row( $(this).parents('tr') ).data();
            var new_data = new Array();
            var Client_list = {{ client_List|safe }};
            var tr = $(this).closest('tr');
            var row = client_table.row( tr );
            for(i=0;i<Client_list.length;i++) {
                if(Client_list[i].Name == data[5]) {
                   new_data = Client_list[i].Contact_details
                }
            }

            if ( row.child.isShown() ) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child( format(new_data) ).show();
                tr.addClass('shown');
            }
            for(i=0;i<Client_list.length;i++) {
                if(Client_list[i].Name.trim() == data[5].trim()) {

                }
            }
        } );

    });
</script>
{% endblock %}