{% extends "layout.html" %}
{% block head_block %}
    <title>HMD|Clients</title>
{% endblock %}
{% block body_block %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 py-3 mt-2">
        </div>
        <div class="col-md-6 py-3 mt-2 text-right" style="padding-right:20px;">
            <a style="color:white" id="backButton" href="{% url 'Landing' %}"><button style="width: 200px;background-color:#0277bd;text-decoration:underline" class="btn btn-secondary back">Back</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12">
                        <h4 class="text-center header-title mb-3">Client</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12" id="main-menu">
                            <div class="card ">
                                <a role="button" class="btn btn-link" href="{% url 'Create New Client' %}">
                                    <div class="card-body">Create</div>
                                </a>
                            </div><br>
                            <div class="card ">
                                <a role="button" class="btn btn-link" href="{% url 'Client Master List' %}">
                                    <div class="card-body">View</div>
                                </a>
                            </div><br>
                            <div class="card ">
                                <a role="button" class="btn">
                                    <div class="card-body">Edit/Close</div>
                                </a>
                            </div><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12">
                        <h4 class="text-center header-title mb-3">Party</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12" id="main-party-menu">
                            <div class="card ">
                                <a role="button" class="btn btn-link" href="{% url 'Create New Party' %}">
                                    <div class="card-body">Create</div>
                                </a>
                            </div><br>

                            <div class="card ">
                                <a role="button" class="btn btn-link" href="{% url 'Party Master List' %}">
                                    <div class="card-body">View</div>
                                </a>
                            </div><br>

                            <div class="card ">
                                <a role="button" class="btn btn-link" href="{% url 'Transfer Party List' %}">
                                    <div class="card-body">Transfer</div>
                                </a>
                            </div><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <div class="col-md-12">
                        <h4 class="text-center header-title mb-3">Group</h4>
                    </div>
                    <div class="row">
                        <div class="col-md-12" id="main-group-menu">
                            <div class="card ">
                                <a role="button" class="btn btn-link" href="{% url 'Create New Group' %}">
                                    <div class="card-body">Create</div>
                                </a>
                            </div><br>
                            <div class="card ">
                                <a role="button" class="btn btn-link" href="{% url 'Group Master List' %}">
                                    <div class="card-body">View</div>
                                </a>
                            </div><br>
                            <div class="card ">
                                <!--<a role="button" class="btn btn-link" href="{% url 'Close Group List' %}">-->
                                    <a role="button" class="btn" >
                                    <div class="card-body">Close</div>
                                </a>
                            </div><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}