{% extends "landing.html" %}
{% block head_block %}
    {% load static %}
    <title>HMD|Client List</title>
{% endblock %}

{% block body_block %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 py-3 mt-2">
            <h4>Client List</h4>
        </div>
        <div class="col-md-6 py-3 mt-2 text-right" style="padding-right:20px;">
            <a style="color:white" id="backButton" href="{% url 'Client Landing' %}"><button style="width: 200px;background-color:#0277bd" class="btn btn-secondary back">Back</button></a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div id="checkbox-group">
                        <div class="form-check form-check-inline col-md-1">
                            <input class="form-check-input" type="checkbox" id="esd-dhd" value="ESD-DHD">
                            <label class="form-check-label" for="esd-dhd">ESD-DHD</label>
                        </div>
                        <div class="form-check form-check-inline col-md-1">
                            <input class="form-check-input" type="checkbox" id="esd-nrj" value="ESD-NRJ">
                            <label class="form-check-label" for="esd-nrj">ESD-NRJ</label>
                        </div>
                        <div class="form-check form-check-inline col-md-1">
                            <input class="form-check-input" type="checkbox" id="os-esd" value="OS-ESD">
                            <label class="form-check-label" for="os-esd">OS-ESD</label>
                        </div><br>
                        <div class="form-check form-check-inline col-md-1">
                              <input class="form-check-input" type="checkbox" id="vhd" value="VHD">
                              <label class="form-check-label" for="vhd">VHD</label>
                        </div>
                        <div class="form-check form-check-inline col-md-1">
                              <input class="form-check-input" type="checkbox" id="prb" value="PRB">
                              <label class="form-check-label" for="prb">PRB</label>
                        </div>
                        <div class="form-check form-check-inline col-md-1">
                            <input class="form-check-input" type="checkbox" id="ris" value="RIS">
                            <label class="form-check-label" for="ris">RIS</label>
                        </div><br>
                        <div class="form-check form-check-inline col-md-1">
                              <input class="form-check-input" type="checkbox" id="os-vhd" value="OS-VHD">
                              <label class="form-check-label" for="os-vhd">OS-VHD</label>
                        </div>
                        <div class="form-check form-check-inline col-md-1">
                              <input class="form-check-input" type="checkbox" id="os-prb" value="OS-PRB">
                              <label class="form-check-label" for="os-prb">OS-PRB</label>
                        </div>
                        <div class="form-check form-check-inline col-md-1">
                            <input class="form-check-input" type="checkbox" id="os-ris" value="OS-RIS">
                            <label class="form-check-label" for="os-ris">OS-RIS</label>
                        </div>
                    </div><br>
                    <div class="table-responsive">
                        <table cellpadding="1" cellspacing="2" border="0" class="table table-striped table-bordered dataTable" id="client_info" width="100%">
                            <thead>
                            <tr>
                                <th align="left">Group Name</th>
                                <th align="left">IT Code</th>
                                <th align="left">IT Size</th>
                                <th align="left">Audit Code</th>
                                <th align="left">Audit Size</th>
                                <th align="left">Client Name</th>
                                <th align="left">Party Name</th>
                                <th align="left">Client Type</th>
                                <th align="left">TDS/TCS</th>
                                <th align="left">IT Note</th>
                                <th align="left">Audit Note</th>
                                <th width="10px" align="left">Contact Details</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for each_return in client_List %}
                                <tr>
                                    <td align="left">{{ each_return.Group_name }}</td>
                                    <td align="left">{{ each_return.It_no }}</td>
                                    <td align="left">{{ each_return.It_size }}</td>
                                    <td align="left">{{ each_return.Audit_no }}</td>
                                    <td align="left">{{ each_return.Audit_size }}</td>
                                    <td align="left">{{ each_return.Name }}</td>
                                    <td align="left">{{ each_return.Party_name }}</td>
                                    <td align="left">{{ each_return.Client_type }}</td>
                                    <th align="left">
                                        {% if each_return.TDS == 'False' %}
                                        No
                                        {% else %}
                                        Yes
                                        {% endif %}
                                    </th>
                                    <td align="left">{{ each_return.It_note }}</td>
                                    <td align="left">{{ each_return.Audit_note }}</td>
                                    <td align="center"><a><i style="color:#007bff;cursor:pointer" class="bi bi-person-plus-fill fa-lg"></i></a></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                                <tfoot>
                                <tr>
                                    <th align="left">Group Name</th>
                                    <th align="left">IT Code</th>
                                    <th align="left">IT Size</th>
                                    <th align="left">Audit Code</th>
                                    <th align="left">Audit Size</th>
                                    <th align="left">Client Name</th>
                                    <th align="left">Party Name</th>
                                    <th align="left">Client Type</th>
                                    <th align="left">TDS/TCS</th>
                                    <th align="left">IT Note</th>
                                    <th align="left">Audit Note</th>
                                    <th align="left">Contact Details</th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready( function () {
        var client_table = $('#client_info').DataTable({
            dom: 'Bfrtip',
            lengthMenu: [[10,25,50,100,-1],[10,25,50,100,"All"]],
             columnDefs: [
                { "width": "15%", "targets": -2 }
            ],
			buttons: [{
                extend: 'excel',
                title: 'Client_Master'
            },
            {
                extend: 'pageLength'
            }]
		});

		function format ( d ) {
            // `d` is the original data object for the row
            var html_content = '';
            for(i=0;i<d.length;i++) {
                html_content = html_content + '<table cellpadding="1" cellspacing="2" border="0" class="table table-striped table-bordered dataTable" width="100%"><tr style="background-color:#98cc65">'+ '<td width="30%">' + d[i].Name + '</td><td  width="20%">' + d[i].Designation + '</td><td  width="15%">' + d[i].Contact_no + '</td><td width="25%">' + d[i].Email + '</td><td width="10%">' + d[i].Remarks + '</td></tr></table>';
            }
            return html_content;
        }

		$('#client_info tbody').on( 'click', 'i', function () {
            var data = client_table.row( $(this).parents('tr') ).data();
            var new_data = new Array();
            var Client_list = {{ client_List|safe }};
            var tr = $(this).closest('tr');
            var row = client_table.row( tr );
            for(i=0;i<Client_list.length;i++) {
                if(Client_list[i].Name == data[5]) {
                   new_data = Client_list[i].Contact_details
                }
            }

            if ( row.child.isShown() ) {
                // This row is already open - close it
                row.child.hide();
                tr.removeClass('shown');
            }
            else {
                // Open this row
                row.child( format(new_data) ).show();
                tr.addClass('shown');
            }
            for(i=0;i<Client_list.length;i++) {
                if(Client_list[i].Name == data[5]) {

                }
            }
        } );

		$('#checkbox-group input[type=checkbox]').change(function() { // while you're at it listen for change rather than click, this is in case something else modifies the checkbox
            var selected = [];
            var search_regex = '';
            $('div#checkbox-group input[type=checkbox]').each(function() {
                if ($(this).is(":checked")) {
                    selected.push($(this).val());
                }
            });
            if(selected.length > 0) {
                for(var i=0;i<selected.length;i++) {
                    if(i==selected.length-1) {
                        search_regex = search_regex + '^' +  selected[i] + '$';
                    }
                    else {
                        search_regex = search_regex + '^' + selected[i] + '$|';
                    }
                }
                client_table.column(0).search(search_regex, true).draw();
            }
            else {
                client_table.column(0).search('').draw();
            }
        });
    });
</script>
{% endblock %}