<!DOCTYPE html>
{% extends "layout.html" %}
{% block head_block %}
    {% load static %}
    <title>HMD|New Party</title>
{% endblock %}
{% block body_block %}
{% load client_tags %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 py-3 mt-2">
            <h4>New Party</h4>
        </div>
        <div class="col-md-6 py-3 mt-2 text-right" style="padding-right:20px;">
            {% if Hide %}
                <a style="color:white" id="backButton" href="{% url 'Edit Party List' %}"><button style="width: 200px;background-color:#0277bd;text-decoration:underline" class="btn btn-secondary back">Back</button></a>
            {% else %}
                <a style="color:white" id="backButton" href="{% url 'Client Landing' %}"><button style="width: 200px;background-color:#0277bd;text-decoration:underline" class="btn btn-secondary back">Back</button></a>
            {% endif %}
        </div>
    </div>
    {% if Hide %}
        <form role="form" name="frmNewAdd" class="form-horizontal" action="{% url 'Submit Edit Party' %}" method="post" enctype="multipart/form-data">
        <input type="hidden" name="r_id" value="{{ Party_Details|private:'_id' }}">
    {% else %}
        <form role="form" name="frmNewAdd" class="form-horizontal" action="{% url 'Submit New Party' %}" method="post" enctype="multipart/form-data">
    {% endif %}
        {% csrf_token %}
        <div class="row">
            <div class="col-md-2">
                <label class="form-label">Select Group Name:</label>
                <select name="GroupNameForm" class="form-control" id="Group_Name_Form">
                    <option value="1" selected>ESD</option>
                    <option value="2" >RIS</option>
                    <option value="3" >VHD</option>
                    <option value="4" >PRB</option>
                    <option value="5" >OS-ESD</option>
                    <option value="6" >OS-RIS</option>
                    <option value="7" >OS-VHD</option>
                    <option value="8" >OS-PRB</option>
                </select>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Party Name:</label>
                    <input required style="text-transform:uppercase" type="text" id="party_name" class="form-control" value="{{Party_Details.Party_name}}" name="partyName">
                </div>
            </div>
        </div><br>

        <div class="row" id="submit-button">
            <div class="form-group col-md-3">
                <button type="submit" class="btn btn-success">Submit</button>&nbsp;&nbsp;
                <button type="reset" class="btn btn-secondary back" name="Reset" >Reset</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}