<!DOCTYPE html>
{% extends "layout.html" %}
{% block head_block %}
    {% load static %}
    <title>HMD|Party Transfer</title>
{% endblock %}
{% block body_block %}
{% load client_tags %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 py-3 mt-2">
            <h4>Transfer Party</h4>
        </div>
        <div class="col-md-6 py-3 mt-2 text-right" style="padding-right:20px;">
            <a style="color:white" id="backButton" href="{% url 'Transfer Party List' %}"><button style="width: 200px;background-color:#0277bd;text-decoration:underline" class="btn btn-secondary back">Back</button></a>
        </div>
    </div>
    <form role="form" id="tranfer_party_form" name="frmNewAdd" class="form-horizontal" action="{% url 'Submit Transfer Party' %}" method="post" enctype="multipart/form-data">
    <input type="hidden" id="party_id" name="r_id" value="{{ Party_Detail|private:'_id' }}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label>Party to be transferred:</label>
                    <input readonly style="text-transform:uppercase" type="text" id="party_name" class="form-control" value="{{Party_Detail.Party_name}}" name="partyName">
                </div>
            </div>
            <div class="col-md-2">
                <label class="form-label">Existing Group Name:</label>
                <input readonly name="oldGroupName" class="form-control" value="{{Party_Detail.Group_name }}" id="Old_Group_Name"></input>
            </div>
            <div class="col-md-2">
                <label class="form-label">Select New Group Name:</label>
                <select name="GroupNameForm" class="form-control dropdown" data-live-search="true"  data-dropup-auto="false" id="Group_Name_Form"></select>
            </div>
        </div><br><br>
        <div class="row">
             <div class="col-md-3">
                    <label>Client Name:</label>
            </div>
            <div class="col-md-1">
                    <label>Old IT Code:</label>
            </div>
            <div class="col-md-1">
                    <label>Old IT Size:</label>
            </div>
            <div class="col-md-1">
                    <label>Old Audit Code:</label>
            </div>
            <div class="col-md-1">
                    <label>Old Audit Size:</label>
            </div>
            <div class="col-md-1">
                    <label>New IT Code</label>
            </div>
            <div class="col-md-1">
                    <label>New IT Size</label>
            </div>
            <div class="col-md-1">
                    <label>New Audit Code</label>
            </div>
            <div class="col-md-1">
                    <label>New Audit Size</label>
            </div>
        </div>
        {% for row_no in Client_List %}
        <div class="row">
            <input type="hidden" readonly id="client_code_{{ forloop.counter0 }}" value="{{ row_no | private:'_id' }}" name="client_id">
            <input type="hidden" readonly id="client_type_{{ forloop.counter0 }}" value="{{ row_no.Client_type }}">

             <div class="col-md-3">
                <input readonly id="client_name" name="clientName" value="{{ row_no.Name }}" class="form-control" />
            </div>
            <div class="col-md-1">
                <input readonly id="old_it_no" name="oldITNo" value="{{ row_no.It_no}}" class="form-control" />
            </div>
            <div class="col-md-1">
                <input readonly id="old_it_size" name="oldITSize" value="{{ row_no.It_size }}" class="form-control" />
            </div>
            <div class="col-md-1">
                <input readonly id="old_audit_code" name="oldAuditCode" value="{{ row_no.Audit_no }}" class="form-control"  />
            </div>
            <div class="col-md-1">
                <input readonly id="old_audit_size" name="oldITSize" value="{{ row_no.Audit_size }}" class="form-control" />
            </div>
            <div class="col-md-1">
                <select required="true" id="new_it_no_{{ forloop.counter0 }}" name="newITNo" class="form-control dropdown" data-live-search="true"  data-dropup-auto="false"></select>
            </div>
            <div class="col-md-1">
                <select required="true" id="new_it_size_{{ forloop.counter0 }}" name="newITSize" class="form-control dropdown" data-live-search="true"  data-dropup-auto="false">

                    <option value="1">Big</option>
                    <option value="2">Medium</option>
                    <option value="3">Small</option>
                </select>

            </div>
            <div class="col-md-1">
                <select required="true" id="new_audit_code_{{ forloop.counter0 }}" name="newAuditCode" class="form-control dropdown" data-live-search="true"  data-dropup-auto="false"></select>
            </div>
            <div class="col-md-1">
                <select required="true" id="new_audit_size_{{ forloop.counter0 }}" name="newAuditSize" class="form-control selectpicker dropdown" data-live-search="true"  data-dropup-auto="false">

                    <option value="0">N.A.</option>
                    <option value="1">Big</option>
                    <option value="2">Medium</option>
                    <option value="3">Small</option>
                </select>
            </div>
        </div><br>
        {% endfor %}
        <div class="row">
            <div class="col-md-3" id="show_hide_password">
                <label class="form-label">Password:</label>
                <input required id="pwd" type="password" class="form-control" name="password" placeholder="Password">
            </div>
        </div><br>
        <div class="row" id="submit-button">
            <div class="form-group col-md-3">
                <button type="submit" class="btn btn-success">Submit</button>&nbsp;&nbsp;
                <button type="reset" class="btn btn-secondary back" name="Reset" >Reset</button>
            </div>
        </div>
    {% if Alert %}
    <p style="color:Red">{{Alert}}<p>
    {% endif %}
    </form>
</div>

<script>
    $(document).ready( function () {
        $('form').submit(function(e) {
            // this code prevents form from actually being submitted
            e.preventDefault();
            const pwd = $('#pwd').val();
            $.ajax({
                url: "{% url 'Password Validate' %}",
                type: 'POST',
                data: { password: pwd,
                        operation: "Party Transfer",
                    csrfmiddlewaretoken: '{{ csrf_token }}'},
                success: function (data) {
                    if(data.Alert == "Correct") {
                        document.getElementById("tranfer_party_form").submit();
                    }
                    else {
                        alert("Password is Incorrect");
                    }
                }
            });
        });
        $('select').selectpicker();
        $('select').prepend('<option selected value="">--Select--</option>');
        //Dynamically add group code and name to #group_name select list
        let Group_code_name = {{Group_c_n|safe}};
        for(let k in Group_code_name) {
            $('#Group_Name_Form').append('<option value="'+k+'">'+Group_code_name[k]+'</option>');
        }
        $('select').selectpicker('refresh');

        // Event handler for new IT code selection
        $(document).on('change', '[id^="new_it_no_"]', function() {
            const selectedITCode = $(this).val();
            const allITCodeSelects = $('[id^="new_it_no_"]');
            allITCodeSelects.not(this).each(function() {
                const currentITCodeSelect = $(this);
                const option = currentITCodeSelect.find('option[value="' + selectedITCode + '"]');

                if (option.length) {
                    option.attr('disabled', 'disabled');
                }
                currentITCodeSelect.selectpicker('refresh');
            });
        });

        // Event handler for new Audit code selection
        $(document).on('change', '[id^="new_audit_code_"]', function() {
            const selectedAuditCode = $(this).val();
            const allAuditCodeSelects = $('[id^="new_audit_code_"]');
            allAuditCodeSelects.not(this).each(function() {
                const currentAuditCodeSelect = $(this);
                const option = currentAuditCodeSelect.find('option[value="' + selectedAuditCode + '"]');
                if (option.length) {
                    if(selectedAuditCode != 0) {
                        currentAuditCodeSelect.find('option').removeAttr('disabled');
                        option.attr('disabled', 'disabled');
                    }
                    else {
                        currentAuditCodeSelect.find('option').removeAttr('disabled');
                    }
                }
                currentAuditCodeSelect.selectpicker('refresh');
            });
        });

         // AJAX request to fetch data based on selected group name
         $('#Group_Name_Form').on('change', function () {
            const groupId = $(this).val();
            const partyId = $('#party_id').val();
            if (groupId) {
                $.ajax({
                    url: "{% url 'New Client Code' %}",
                    type: 'POST',
                    data: { groupId: groupId,
                            partyId: partyId,
                            csrfmiddlewaretoken: '{{ csrf_token }}'},
                    success: function (data) {
                        // Update the new IT code select list for each client
                        for (let i = 0; i < data.length; i++) {
                            const clientId = i + 1;
                            const newITCodeSelect = $('#new_it_no_' + i);
                            newITCodeSelect.empty();
                            newITCodeSelect.append('<option value="">--Select--</option>');
                            for (let j = 0; j < data[i].available_it_no.length; j++) {
                                const newITCode = data[i].available_it_no[j];
                                newITCodeSelect.append('<option value="' + newITCode + '">' + newITCode + '</option>');
                            }
                            newITCodeSelect.selectpicker('refresh');

                        }
                        // Update the new audit code select list for each client
                        for (let i = 0; i < data.length; i++) {
                            const clientId = i + 1;
                            const newAuditCodeSelect = $('#new_audit_code_' + i);
                            newAuditCodeSelect.empty();
                            newAuditCodeSelect.append('<option value="">--Select--</option>');
                            newAuditCodeSelect.append(' <option value="0">N.A.</option>');
                            for (let j = 0; j < data[i].available_audit_no.length; j++) {
                                const newAuditCode = data[i].available_audit_no[j];
                                newAuditCodeSelect.append('<option value="' + newAuditCode + '">' + newAuditCode + '</option>');
                            }
                            newAuditCodeSelect.selectpicker('refresh');
                        }
                    },
                    error: function (error) {
                        console.error('Error:', error);
                    }
                });
            }
        });
    });
</script>
{% endblock %}