<!DOCTYPE html>
{% extends "layout.html" %}
{% block head_block %}
    {% load static %}
    <title>HMD|New Certificate Description</title>
{% endblock %}
{% block body_block %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 py-3 mt-2">
            <h4>New Certificate Description</h4>
        </div>
        <div class="col-md-6 py-3 mt-2 text-right" style="padding-right:20px;">
            <a style="color:white" id="backButton" href="{% url 'Insertions Landing' %}"><button style="width: 200px;background-color:#0277bd;text-decoration:underline" class="btn btn-secondary back">Back</button></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div style="display:none" class="alert alert-danger alert-dismissible" role="alert">
                {{Message|safe}}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="card">
                <div class="card-body">
                    <form role="form" name="frmNewAdd" class="form-horizontal" action="{% url 'Submit New Certificate Description' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">Certificate Description Details</div>
                        </div>
                        {% if not Hide %}
                            <br>
                            <button id="add_cert" class="btn btn-success">Add</button>
                            <button id="remove_cert" class="btn btn-danger">Remove</button>
                            <br>
                        {% endif %}
                        <br>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Name:</label>
                                </div>
                            </div>
                        </div>
                        <span id="cert_span">
                            <div class="row certs">
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <input   type="text" class="form-control" name="Name">
                                    </div>
                                </div>
                            </div>
                        </span>
                        <div class="row" id="submit-button">
                            <div class="form-group col-md-2">
                                <button type="submit" class="btn btn-success">Submit</button>&nbsp;&nbsp;
                                <button type="reset" class="btn btn-secondary back" name="Reset" >Reset</button>
                            </div>
                            <div class="col-md-2 input-group" id="show_hide_password">
                                <input required type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                        </div>
                        {% if Alert %}
                          <p style="color:Red">{{Alert}}<p>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% if not Hide %}
<script>


    $(document).ready( function () {
        var counter = 1;
        $('#add_cert').on('click', function(e) {
            e.preventDefault();
            $('.row.certs').last().clone().appendTo('#cert_span').find('input').val("");
            counter += 1;
        });

        $('#remove_cert').on('click', function(e) {
            e.preventDefault();
            if(counter > 1) {
                $('.row.certs').last().remove();
                counter -= 1;
            }
        });
    });
</script>
{% endif %}

{% endblock %}